.flexi-blog_basic {
  text-align: center;
}

.flexi-blog_basic .flexi-blog_basic_sub {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #cfcfcf;
  background-color: #fff;

  font: normal 13px sans-serif;
  text-align: left;

  margin: var(--flexi_padding);
  width: 100%;
}

/* Article photo */

.flexi-blog_basic .flexi-blog_basic_sub > a {
  display: block;
  width: 100%;
  height: 155px;
  overflow: hidden;
}

.flexi-blog_basic .flexi-blog_basic_sub > a img {
  width: 100%;
}

.flexi-blog_basic .flexi-blog_basic_sub div {
  padding: 25px 20px;
}

/* Article title */

.flexi-blog_basic .flexi-blog_basic_sub h2 {
  font: bold 16px sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.flexi-blog_basic .flexi-blog_basic_sub h2 a {
  color: #2b2b2b;
  text-decoration: none;
}

/* Article excerpt */

.flexi-blog_basic .flexi-blog_basic_sub div p {
  line-height: 20px;
  color: #5d5d5d;

  margin: 20px 0;
}

/* Read more */

.flexi-blog_basic .flexi-blog_basic_sub a.read-more {
  background-color: #87bcd7;
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 2px;
  margin: 20px 0;
  font-weight: bold;
}
