/.vscode/
block/node_modules
block/package-lock.json
block/package.json
block/.eslintrc.json
block/.editorconfig
block/.eslintignore

## Uncomment line below if you prefer to
## keep compiled files out of version control
# dist/
