/.vscode/
block/node_modules
block/package-lock.json
block/package.json
block/readme.md
block/eslintrc.json

## Uncomment line below if you prefer to
## keep compiled files out of version control
# dist/
